# Environment variables — NEVER commit these
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
env/
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini